<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286127969084-s397ih4nmmvbvneaoet7ophdik8f00bc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286127969084-s397ih4nmmvbvneaoet7ophdik8f00bc</string>
	<key>API_KEY</key>
	<string>AIzaSyA7hDD9W_Lu4lccClUKjDCWcoaLEpaJX-w</string>
	<key>GCM_SENDER_ID</key>
	<string>286127969084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Panchami.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-3f0cb</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-3f0cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286127969084:ios:4df5a045f521ccdb024439</string>
</dict>
</plist>